<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestão de Consultas Hospitalares</title>
</head>
<body>
<h1>Gestão de Consultas Hospitalares</h1>

<ul>
    <li><a href="/pacientes">Gerir Pacientes</a></li>
    <li><a href="/medicos">Gerir Médicos</a></li>
    <li><a href="/consultas">Gerir Consultas</a></li>
    <li><a href="/medicamentos">Gerir Medicamentos</a></li>
    <li><a href="/analises">Gerir Análises</a></li>
    <li><a href="/exames">Gerir Exames</a></li>
    <li><a href="/cirurgias">Gerir Cirurgias</a></li>
</ul>
</body>
</html>