<!-- novoConsulta.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Nova Consulta</title>
</head>
<body>
<h1>Adicionar Nova Consulta</h1>
<form action="/consultas" method="post">
    Paciente ID: <input type="text" name="pacienteId"><br>
    Médico ID: <input type="text" name="medicoId"><br>
    Data e Hora: <input type="text" name="dataHora"><br>
    Motivo: <input type="text" name="motivo"><br>
    <button type="submit">Adicionar</button>
</form>
</body>
</html>