<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Novo Paciente</title>
</head>
<body>
<h1>Adicionar Novo Paciente</h1>
<form action="/pacientes" method="post">
    Nome: <input type="text" name="nome"><br>
    Género: <input type="text" name="genero"><br>
    Contacto: <input type="text" name="contacto"><br>
    Nº Utente: <input type="text" name="numeroUtente"><br>
    Data Nascimento: <input type="text" name="dataNascimento"><br>
    <button type="submit">Adicionar</button>
</form>
</body>
</html>